test: &default
  adapter: postgresql
  encoding: unicode
  database: todo_api_test
  pool: 5
  host: localhost
  user:
  password:

production:
  <<: *default
  database: todo_api

staging:
  <<: *default
  database: todo_api_staging

development:
  <<: *default
  database: todo_api_development
